// app global css in SCSS form
@font-face {
  font-family: Sarabun;
  src: url("../../public/fonts/Sarabun-Regular.ttf");
}

@font-face {
  font-family: Sarabun-m;
  src: url("../../public/fonts/Sarabun-Medium.ttf");
}

body {
  font-family: Sarabun;
}

.f-medium {
  font-family: Sarabun-m;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.brx {
  border: 1px solid red;
}

.bg-pre {
  background-image: url("../../public/images/bg-pre.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: top;
}
.bg-post {
  background-image: url("../../public/images/bg-post.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.container-login {
  width: 320px;
}

.container-main-pc {
  margin: auto;
  width: 850px;
}

.container-main-mobile {
  margin: auto;
  max-width: 320px;
  width: 95%;
}
